@charset "utf-8";
html {
  overflow: auto;
}

body {
  margin: 0;
  padding:0;
  font-family: 'Crimson Text', serif;
  overflow: hidden;
  position: absolute;
}

/* header */
header {
  display:flex;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.site-logo img {
  float:left;
  width: 160px;
  height: 80px;
  padding-top: 10px;
  margin: 0;
  object-fit: cover;
}

.pc-menu {
    display: none;
}

#menu-icon {
  float:right;
  cursor: pointer;
  user-select: none;
}

#menu-icon img{
  width: 40px;
  padding-top: 10px;
}

#mask {
  background-color: rgba(0,0,0, 0.8);
  position: fixed;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#modal{
  z-index: 2;
  position: absolute;
}

#modal .container {
  background-color: #ccffff;
  font-size: 32px;
  width: 200px;
  height: 300px;  
  position: relative;
  top: 200px;
  left: 80px;
  padding-left: 0;
}

#modal img {
  color:white;
}
#modal ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-top: 40px;
  padding-bottom:40px;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
}

#modal li {
  border-bottom: 1px solid;
}

#modal li + li {
  padding: 8px;
}

#close-icon {
  width: 40px;
  float:right;
  padding-right: 10px;
  padding-top: 10px;
}

.hidden {
  display: none;
}

/* main */
#mainvisual img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.text {
    text-align: center;
    padding: 0 30px;
    padding-top: 50px;
}

.text h1 {
font-size: 32px;
font-weight: bold;
}

.text h2 {
    font-size: 16px;
    font-weight: normal;
}

/* footer */
footer {
    text-align: center;
    opacity: 0.8;
    padding-top: 100px;
}

@media (min-width: 767px) {
body {
  position: static;
  width: 90vw;
  margin: 0 5vw;
}

/* header */
header {
  display:flex;
  margin: 0 20px;
}

.site-logo img {
  width: 200px;
  height: 100px;
  padding: 20px 0;
  margin-left: 40px;
  float: left;
}

.pc-menu {
  display: flex;
}
.pc-menu  ul{
  display:flex;
  float: right;
  list-style: none;
  font-size: 30px;
  margin:  50px  0 ;
  margin-left: 100px;
  user-select: none;
  cursor: pointer;
  align-items: center;  
}

.pc-menu li {
  margin-right: 30px;
  border: 1px solid;
  padding: 0 30px;
  background: #eee;  
}

.pc-menu a {
  text-align: center;
}

.sp-menu {
  display: none;
}
/* main */
#mainvisual img {
  width: 90vw;
}
}